*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: wheat;
}
img{
    max-width: 100%;
   
}
header{
    background-color: aqua;
    padding: 5;
}
header img{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    /* for center position */
    display: block; 


}
#menu{
    text-align: center;
    list-style: none;
}
#menu li{
    display: inline-block;
    margin: 10px;

}
#menu a{
    background: aquamarine;
    color: brown;
    padding: 5px 15px;
    text-decoration: none;


}
section{
    background: rgb(149, 179, 240);
    display: flex;
}
div{
    padding: 20px;
    width: 70%;
}
aside{
    padding: 20px;
    width: 30%;
}

